body {
    background-color: #2A2A2A;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    padding-left: 1rem;
}

.navbar-brand span {
    font-size: 35px;
    font-weight: lighter;
}

.brand-area {
    padding-top: 15px;
    padding-bottom: 15px;
}

.features-area {
    background-color: white;
    padding-top: 50px;
}

.feature {
    padding-bottom: 50px;
}

.feature img {
    position: relative;
    top: 15px;
    width: 100px;
}

.feature h4 {
    position: relative;
    top: 10px;
}

.feature p {
    position: relative;
    top: 15px;
}

.footer-area {
    background-color: #2A2A2A;
}

.footer-area p {
    padding: 10px;
}

.github-corner {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    border: 0;
}

header {
    z-index: 100px;
}